# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# NODE
# =========================
node_modules
.pnp
.pnp.js

# =========================
# BUILD
# =========================
dist
build
.next
.turbo

# =========================
# LOGS
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode
.idea
*.swp
*.swo

# =========================
# TEST / COVERAGE
# =========================
coverage

# =========================
# PRISMA
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# CACHE
# =========================
.tmp
.cache